---
import { getEntry } from "astro:content"

import { transformReferences } from "@/lib/transform-references"

const article = await getEntry("articles", "test")
// const populatedPost = article && (await populateEntryRecursively(article))
// console.log(populatedPost)

const obj = article && (await transformReferences(article, 3))
---

<html>
  <body>
    <pre>{JSON.stringify(obj, null, 2)}</pre>
  </body>
</html>
