---
import {
  articleSchema,
  findReferenceRecursively,
  populateEntryRecursively,
} from "@/schemas/article"
import { getEntry } from "astro:content"

const post = await getEntry("articles", "test")
const populatedPost = post && (await populateEntryRecursively(post))
// console.log(populatedPost)

const reference = findReferenceRecursively(post?.data)

console.log("ref", reference)
---

<html>
  <body>
    <pre>{JSON.stringify(populatedPost?.data, null, 2)}</pre>
  </body>
</html>
