---
import {
  articleSchema,
  populateEntryRecursively,
  populateObject,
} from "@/schemas/article"
import { getEntry } from "astro:content"

const post = await getEntry("articles", "test")
// const populatedPost = post && (await populateEntryRecursively(post))
// console.log(populatedPost)

const obj = await populateObject(post?.data)

console.log("ref", obj)
---

<html>
  <body>
    <pre>{JSON.stringify(obj, null, 2)}</pre>
  </body>
</html>
