---
import Pages1 from "@/blocks/pages-1"
import BaseLayout from "@/layouts/base.astro"
import type { BlockSchema } from "@/schemas/block"
import type { LayoutSchema } from "@/schemas/layout"
import type { PageSchema } from "@/schemas/page"

type Props = PageSchema & LayoutSchema & BlockSchema

const { title, items, ...props } = Astro.props
---

<BaseLayout {...props}>
  <Pages1 client:load content={`<h1>${title}</h1>`} items={items} />
</BaseLayout>
